Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.

In [11]:
import warnings
warnings.filterwarnings('ignore')

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sanjana\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: trio~=0.17 in c:\users\sanjana\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sanjana\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\sanjana\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: sortedcontainers in c:\users\sanjana\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.2.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\sanjana\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\sanjana\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.0)
Requirement already satisfied: sniffio in c:\users\sanjana\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\sanjana\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\sanjana\anaconda3\lib\site-packages (from trio~=0.17->selenium) (19.3.0)
Requirement already satisfied: idna in c:\users\sanjana\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: pycparser in c:\users\sanjana\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\sanjana\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: certifi in c:\users\sanjana\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.6.20)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\sanjana\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (19.1.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\sanjana\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2.9.2)
Requirement already satisfied: six>=1.4.1 in c:\users\sanjana\anaconda3\lib\site-packages (from cryptography>=1.3.4->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sanjana\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

WARNING: You are using pip version 21.2.3; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\sanjana\anaconda3\python.exe -m pip install --upgrade pip' command.

In [2]:
import selenium 
import pandas as pd
from selenium import webdriver

In [12]:
drivers= webdriver.Chrome(r"C:\Users\Sanjana\Downloads\chromedriver_win32\chromedriver.exe")

In [13]:
drivers.get("https://www.naukri.com/")

In [14]:
#Input Search
search_job=drivers.find_element_by_xpath('//input[@id="qsb-keyword-sugg"]')
search_job.send_keys("Data Analyst")
search_loc=drivers.find_element_by_xpath('//input[@id="qsb-location-sugg"]')
search_loc.send_keys("Bangalore")

In [15]:
#Clicking Search Button
search_btn=drivers.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn.click()

In [20]:
Job_Title = []
Job_Loc= []
Company= []
Experience_Required = []
job_tags=drivers.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
loc_tags=drivers.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
company_tags=drivers.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
experience_tags=drivers.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span[1]')
for i in job_tags[0:10]:
     Job_Title.append(i.text)
for i in loc_tags[0:10]:
     Job_Loc.append(i.text)
for i in company_tags[0:10]:
     Company.append(i.text)
for i in experience_tags[0:10]:
     Experience_Required.append(i.text)

In [21]:
data= list(zip(Job_Title,Job_Loc,Company,Experience_Required))

In [22]:
df= pd.DataFrame(data,columns=["Job_Title","Job_Loc","Company","Experience_Required"])

In [23]:
df

,Job_Title,Job_Loc,Company,Experience_Required
0,Senior Data Analyst,Bengaluru/Bangalore,Flipkart,4-5 Yrs
1,Data Analyst (On Contract),Bangalore/Bengaluru,Rupeek Fintech Pvt Ltd,0-2 Yrs
2,Jr . Data Analyst,Bangalore/Bengaluru,Armorblox,0-2 Yrs
3,Business Analyst / Data Analyst,Bangalore/Bengaluru,GetSimpl,2-4 Yrs
4,Hiring Business Data Analyst +ETL- Tech Mahind...,Bangalore/Bengaluru,Tech Mahindra,6-10 Yrs
5,Data Analyst,Bengaluru/Bangalore,IBM India Pvt. Limited,1-4 Yrs
6,Consultant - Data Analyst,Bengaluru/Bangalore,Flipkart,1-3 Yrs
7,Data Analyst,Bengaluru/Bangalore,Flipkart,1-2 Yrs
8,Data Analyst,Bengaluru/Bangalore,Flipkart,1-3 Yrs
9,Manager - Data Analyst,Bangalore/Bengaluru,Genpact,5-10 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [24]:
drivers.get("https://www.naukri.com/")

In [25]:
#Input Search
search_job=drivers.find_element_by_xpath('//input[@id="qsb-keyword-sugg"]')
search_job.send_keys("Data Scientist")
search_loc=drivers.find_element_by_xpath('//input[@id="qsb-location-sugg"]')
search_loc.send_keys("Bangalore")

In [26]:
#Click Search Button
search_btn=drivers.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn.click()

In [27]:
Job_Title = []
Job_Loc= []
Company= []

job_tags=drivers.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
loc_tags=drivers.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
company_tags=drivers.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in job_tags[0:10]:
     Job_Title.append(i.text)
for i in loc_tags[0:10]:
     Job_Loc.append(i.text)
for i in company_tags[0:10]:
     Company.append(i.text)

In [28]:
from selenium.common.exceptions import NoSuchElementException
JD_url=drivers.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
Job_Description = []
URL=[]
for i in JD_url[0:10]:
    URL.append(i.get_attribute('href'))
for url in URL:
    drivers.get(url)
    try:
        jd=drivers.find_element_by_xpath('//div[@class="dang-inner-html"]')
        Job_Description.append(jd.text)
    except NoSuchElementException as e:
        Job_Description.append("No Discription")

In [30]:
print(len(Job_Description))

10

In [31]:
data= list(zip(Job_Title,Job_Loc,Company,Job_Description))

In [32]:
df= pd.DataFrame(data,columns=["Job_Title","Job_Loc","Company","Job_Description"])

In [33]:
df

,Job_Title,Job_Loc,Company,Job_Description
0,Senior Engineer - AIML - Data Scientist,Bangalore/Bengaluru,Unisys,Our Core Beliefs:\nCuriosity: We embrace the...
1,Cognitive/AI Senior Data Scientist,Bengaluru/Bangalore,IBM India Pvt. Limited,No Discription
2,Lead Programmer - Data Scientist,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,No Discription
3,Senior Data Scientist,Bangalore/Bengaluru,Juniper Networks,Role/Position\nThe Senior Data Scientist will ...
4,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru,Samya.AI A FRACTAL Entity,Roles and Responsibilities\nTrain machine lear...
5,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited,No Discription
6,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM India Pvt. Limited,No Discription
7,Senior Data Scientist,Bangalore/Bengaluru,Ericsson Global Services,You will\nDefine the Data sourcing strategy an...
8,Senior Data Scientist Analytics,Bangalore/Bengaluru,ExecBoardinAsia,Understanding the business problem alongside b...
9,Senior Staff Data Scientist,Bangalore/Bengaluru,FabHotel Aay Kay Model Town,"As a Sr Staff Data Scientist, you will be resp..."

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter. 
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs

In [88]:
drivers.get("https://www.naukri.com/")

In [89]:
#Input Search
search_job=drivers.find_element_by_xpath('//input[@id="qsb-keyword-sugg"]')
search_job.send_keys("Data Scientist")
search_loc=drivers.find_element_by_xpath('//input[@id="qsb-location-sugg"]')
search_loc.send_keys("Delhi")

In [90]:
#Click Search Button
search_btn=drivers.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn.click()

In [48]:
url="https://www.naukri.com/data-scientist-jobs-in-delhi-ncr?k=data%20scientist&l=delhi%2Fncr"

In [50]:
drivers.get(url)

In [91]:
checkbox_city = drivers.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/i')

In [92]:
checkbox_city.click()

In [ ]:
#('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[3]/label/i')
checkbox_city.click()

In [95]:
checkbox_sal = drivers.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')

In [96]:
checkbox_sal.click()

In [97]:
Job_Title = []
Job_Loc= []
Company= []
Experience_Required = []
job_tags=drivers.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
loc_tags=drivers.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
company_tags=drivers.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
experience_tags=drivers.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span[1]')
for i in job_tags[0:10]:
     Job_Title.append(i.text)
for i in loc_tags[0:10]:
     Job_Loc.append(i.text)
for i in company_tags[0:10]:
     Company.append(i.text)
for i in experience_tags[0:10]:
     Experience_Required.append(i.text)

In [98]:
data= list(zip(Job_Title,Job_Loc,Company,Experience_Required))

In [99]:
df_delhi= pd.DataFrame(data,columns=["Job_Title","Job_Loc","Company","Experience_Required"])

In [100]:
df_delhi

,Job_Title,Job_Loc,Company,Experience_Required
0,Project Manager | Team Leader | Senior Data Sc...,Remote,Tidyquant (OPC) Private Limited,1-5 Yrs
1,Data Scientist/ Senior Data Scientist,Noida,Newgen Software Technologies,2-5 Yrs
2,"NTT DATA_ Hiring For BIG DATA ,DATA Scientist,...","Noida, Kolkata, Hyderabad/Secunderabad, Ahmeda...",NTT Data Business Solutions Pvt Ltd,3-8 Yrs
3,Hiring For Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Tata Consultancy Services Ltd.,4-9 Yrs
4,Data Scientist,"Gurgaon/Gurugram, Chennai",Teleperformance,4-9 Yrs
5,Hiring For Data Analyst / Data Scientist,Noida(Sector-59 Noida),Careerera,1-3 Yrs
6,Data Analyst / Data Scientist / Business Analy...,"Noida, Ghaziabad, Delhi / NCR",GABA Consultancy services,0-0 Yrs
7,Data Scientist,Gurgaon/Gurugram,ApplyBoard,3-7 Yrs
8,Data Scientist,Gurgaon/Gurugram,Whizhack Technologies pvt ltd,2-5 Yrs
9,Data Scientist,Gurgaon/Gurugram,One Mobikwik Systems Private Limited,2-5 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 
1. Brand 
2. Product Description 
3. Price

In [130]:
drivers.get("https://www.flipkart.com/")

In [131]:
#Input Search
search_item=drivers.find_element_by_xpath('//input[@class="_3704LK"]')
search_item.send_keys("Sunglasses")

#Click Search Button
search_btn=drivers.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()

In [132]:
Brand= []
Description = []
Price= []

In [151]:
j=1
while j<=3:
        brand_tags=drivers.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        desc_tags=drivers.find_elements_by_xpath('//a[@class="IRpwTa"]')
        price_tags=drivers.find_elements_by_xpath('//div[@class="_30jeq3"]')

        for i in brand_tags:
                Brand.append(i.text)   
        for i in desc_tags:
                Description.append(i.text.replace('(57)',''))   
        for i in price_tags:
             Price.append(i.text)

In [152]:
data= list(zip(Brand,Description,Price))

In [153]:
df_FlipKart= pd.DataFrame(data,columns=["Brand","Description","Price"])

In [155]:
df_FlipKart[0:100]

             Brand                                        Description   Price
0           GANSTA                  UV Protection Aviator Sunglasses     ₹594
1           GANSTA  UV Protection, Gradient Aviator Sunglasses (Fr...    ₹179
2            NuVew  UV Protection, Mirrored, Night Vision, Riding ...    ₹188
3        FARENHEIT                UV Protection Round Sunglasses (47)    ₹248
4        ROYAL SON          UV Protection Rectangular Sunglasses (60)    ₹200
..             ...                                                ...     ...
95       ROYAL SON                  Mirrored Wayfarer Sunglasses (55)    ₹429
96        Fastrack  Mirrored, UV Protection Aviator Sunglasses (Fr...    ₹401
97          Singco    UV Protection, Gradient Cat-eye Sunglasses (61)    ₹258
98  ROZZETTA CRAFT   UV Protection Rectangular Sunglasses (Free Size)  ₹1,019
99       ROYAL SON  UV Protection, Gradient, Riding Glasses Wayfar...    ₹203

[100 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

In [156]:
drivers.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")

In [157]:
#Click View Reviews Button
Reviews_btn=drivers.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]')
Reviews_btn.click()
Rating= []
Review_summary = []
Full_Review= []

In [158]:
import time
j=1
while j<=11:
    Rating_tags=drivers.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    Review_tags=drivers.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    FullR_tags=drivers.find_elements_by_xpath('//div[@class="t-ZTKy"]')


    for i in Rating_tags[0:9]:
        if(i.text != None):
            Rating.append(i.text.replace('(57)',''))   
        else:
            Rating.append("Null")
    for i in Review_tags[0:9]:
         Review_summary.append(i.text)
    for i in FullR_tags[0:9]:
         Full_Review.append(i.text.strip().replace("\n",' '))
    try:
        drivers.find_elements_by_xpath('//div[@class="_2MImiq _1Qnn1K"]/nav/a')[-1].click() 
        time.sleep(1)
    except:
        print("End")
    j+=1

In [159]:
data= list(zip(Rating,Review_summary,Full_Review))

In [160]:
df_Review= pd.DataFrame(data,columns=["Rating","Review_summary","Full_Review"])

In [161]:
df_Review

,Rating,Review_summary,Full_Review
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
94,5,Just wow!,Great iphone. I am writing this review after 2...
95,5,Worthless,Phone is awesome no doubt. But Camera & Displa...
96,5,Super!,Did an upgrade from 6s plus to iphone 11. Ao f...
97,5,Perfect product!,It is just awesome mobile for this price from ...
98,4,Excellent,It was amazing experience for me. Honestly i a...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field. 
You have to scrape 4 attributes of each sneaker: 
1. Brand 
2. Product Description 
3. Price

In [163]:
drivers.get("https://www.flipkart.com/")

In [164]:
#Input Search
search_item=drivers.find_element_by_xpath('//input[@class="_3704LK"]')
search_item.send_keys("Sneakers")

#Click Search Button
search_btn=drivers.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()

In [165]:
Brand= []
Description = []
Price= []

In [170]:
j=1
while j<=3:
        brand_tags=drivers.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        desc_tags=drivers.find_elements_by_xpath('//a[@class="IRpwTa"]')
        price_tags=drivers.find_elements_by_xpath('//div[@class="_30jeq3"]')

        for i in brand_tags:
                Brand.append(i.text)
        for i in desc_tags:
                Description.append(i.text.replace('(57)',''))   
        for i in price_tags:
             Price.append(i.text.replace('\n',''))
        
        try:
            drivers.find_elements_by_xpath('//div[@class="_2MImiq"]/nav/a')[-1].click()
            time.sleep(2)
        except:
            print("End")
        j+=1

In [174]:
data= list(zip(Brand,Description,Price))

In [175]:
df_FlipKart= pd.DataFrame(data,columns=["Brand","Description","Price"])

In [177]:
df_FlipKart[0:100]

        Brand                                        Description   Price
0        PUMA             Puma Smash v2 SL one8 Sneakers For Men  ₹1,999
1        NIKE                            Tanjun Sneakers For Men  ₹1,749
2    RapidBox  Unique & Perfect Collection Combo Pack of 02 S...    ₹680
3      Chevit  Combo Pack of 4 Casual Sneakers With Sneakers ...    ₹420
4      Chevit             White Sneaker For Men Sneakers For Men    ₹425
..        ...                                                ...     ...
95   RED TAPE          casual for men (blue 06) Sneakers For Men  ₹1,678
96       PUMA           516 Trendy Star Perfect Sneakers For Men  ₹2,659
97  India hub                                   Sneakers For Men    ₹499
98      BIRDE                                   Sneakers For Men    ₹299
99   RED TAPE  Men's Canvas Low Top Sneakers Lace-up Classic ...  ₹1,559

[100 rows x 3 columns]

Q7: Go to the link - https://www.myntra.com/shoes 
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image.

In [178]:
drivers.get("https://www.myntra.com/shoes")

In [179]:
#Click on check boxes
check_btn=drivers.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
check_btn.click()
#clr_btn=drivers.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
#clr_btn.click()

In [180]:
#Click on check boxes
clr_btn=drivers.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
clr_btn.click()

In [182]:
Brand= []
Description = []
Price= []
Discount=[]

In [183]:
product_url=[]
URL=[]
j=1
while j<=2:
    brand_tags=drivers.find_elements_by_xpath('//h3[@class="product-brand"]')
    desc_tags=drivers.find_elements_by_xpath('//h4[@class="product-product"]')
    
    for i in brand_tags:
        Brand.append(i.text)
    for i in desc_tags:
        Description.append(i.text)
    product_url=drivers.find_elements_by_xpath('//a[@target="_blank"]')
    for i in product_url:
        URL.append(i.get_attribute('href'))    
    try:
        drivers.find_elements_by_xpath('//ul[@class="pagination-container"]/li')[-1].click() 
        time.sleep(1)
    except:
        print("End")    
    j+=1
for url in URL:
    drivers.get(url)
    try:
        price=drivers.find_element_by_xpath('//span[@class="pdp-price"]')
        Price.append(price.text)
        time.sleep(1)
    except NoSuchElementException as e:
        Price.append("Price not mentioned") 
    try:
        disc=drivers.find_element_by_xpath('//span[@class="pdp-discount"]')
        Discount.append(disc.text)
        time.sleep(1)
    except NoSuchElementException as e:
        Discount.append("No Discount")

In [184]:
data= list(zip(Brand,Description,Price,Discount))

In [185]:
df_myntra= pd.DataFrame(data,columns=["Brand","Description","Current Price","Discount"])

In [186]:
df_myntra

,Brand,Description,Current Price,Discount
0,UNDER ARMOUR,Men HOVR Apex 2 Training,Rs. 13999,No Discount
1,Nike,Men Zoom Span 4 Running Shoes,Rs. 7195,No Discount
2,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999,No Discount
3,Puma,Men Deviate Nitro Running Shoe,Rs. 7499,(50% OFF)
4,Nike,Men FLIGHT LEGACY Sneakers,Rs. 7995,No Discount
...,...,...,...,...
95,DAVINCHI,Men Textured Formal Leather Oxfords,Rs. 7990,No Discount
96,Saint G,Women Leather Heeled Boots,Rs. 10710,(Rs. 1190 OFF)
97,Saint G,Men Leather Chelsea Boots,Rs. 10710,(Rs. 1190 OFF)
98,ADIDAS,Men Ultraboost X Lego Running,Rs. 13499,(25% OFF)
99,Pavers England,Men Leather Driving Shoes,Rs. 7499,No Discount

Q8: Go to webpage https://www.amazon.in/ 
Enter “Laptop” in the search field and then click the search icon. 
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [196]:
drivers.get("https://www.amazon.in/")

In [197]:
#Input Search
search_item=drivers.find_element_by_xpath('//input[@id="twotabsearchtextbox"]')
search_item.send_keys("laptop")

#Click Search Button
search_btn=drivers.find_element_by_xpath('//input[@id="nav-search-submit-button"]')
search_btn.click()

In [189]:
#Filter for intel core i7
filter_btn=drivers.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i')
filter_btn.click()

In [190]:
Title= []
Rating = []
Price= []

In [191]:
URL=[]
product_url=[]
title_tags=drivers.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
price_tags=drivers.find_elements_by_xpath('//span[@class="a-price-whole"]')
    
for i in title_tags[:10]:
    Title.append(i.text)
for i in price_tags[:10]:
    Price.append(i.text)
product_url=drivers.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]')
for i in product_url[0:10]: # product url 
    URL.append(i.get_attribute('href')) #Appending URl 
for url in URL:
    drivers.get(url) #Opening URL
    try:
        rate=drivers.find_element_by_xpath('//span[@id="acrCustomerReviewText"]')
        rate.click()
        rating=drivers.find_element_by_xpath('//span[@class="a-size-medium a-color-base"]')
        Rating.append(rating.text) # Collecting Ratings
        
    except NoSuchElementException as e:
        Rating.append("No Rating")         # If no rating then following will be appended

In [194]:
drivers.get("https://www.amazon.in/")
#Input Search
search_item=drivers.find_element_by_xpath('//input[@id="twotabsearchtextbox"]')
search_item.send_keys("laptop")

#Click Search Button
search_btn=drivers.find_element_by_xpath('//input[@id="nav-search-submit-button"]')
search_btn.click()

In [198]:
#Filter for intel core i9
filter_btn2=drivers.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/div/label/i')
filter_btn2.click()

In [199]:
URL=[]
product_url=[]
title_tags=drivers.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
price_tags=drivers.find_elements_by_xpath('//span[@class="a-price-whole"]')
    
for i in title_tags[:10]:
    Title.append(i.text)
for i in price_tags[:10]:
    Price.append(i.text)
product_url=drivers.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]')
for i in product_url[0:10]:
    URL.append(i.get_attribute('href'))
for url in URL:
    drivers.get(url)
    try:
        rate=drivers.find_element_by_xpath('//span[@id="acrCustomerReviewText"]')
        rate.click()
        rating=drivers.find_element_by_xpath('//span[@class="a-size-medium a-color-base"]')
        Rating.append(rating.text)
        
    except NoSuchElementException as e:
        Rating.append("No Rating")

In [205]:
df_amazon= pd.DataFrame(data,columns=["Title","Price","Rating","URL"])
df_amazon

,Title,Price,Rating,URL
0,UNDER ARMOUR,Men HOVR Apex 2 Training,Rs. 13999,No Discount
1,Nike,Men Zoom Span 4 Running Shoes,Rs. 7195,No Discount
2,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999,No Discount
3,Puma,Men Deviate Nitro Running Shoe,Rs. 7499,(50% OFF)
4,Nike,Men FLIGHT LEGACY Sneakers,Rs. 7995,No Discount
...,...,...,...,...
95,DAVINCHI,Men Textured Formal Leather Oxfords,Rs. 7990,No Discount
96,Saint G,Women Leather Heeled Boots,Rs. 10710,(Rs. 1190 OFF)
97,Saint G,Men Leather Chelsea Boots,Rs. 10710,(Rs. 1190 OFF)
98,ADIDAS,Men Ultraboost X Lego Running,Rs. 13499,(25% OFF)
99,Pavers England,Men Leather Driving Shoes,Rs. 7499,No Discount

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:

In [264]:
drivers.get("https://www.ambitionbox.com/")

In [265]:
search_btn=drivers.find_element_by_link_text("Jobs")
search_btn.click()

In [266]:
search_job=drivers.find_element_by_xpath('//input[@title="Enter Designation, Company or a Skill"]')
search_job.send_keys("Data Scientist")

In [271]:
search_btn=drivers.find_element_by_xpath('//*[@class="ab_btn search-btn round"]')
search_btn.click()

In [275]:
search_loc=drivers.find_element_by_xpath('//div[@title="Location"]')
search_loc.click()

In [276]:
search_btn=drivers.find_element_by_xpath('//label[@for="location_Noida"]')
search_btn.click()

In [320]:
Company_name= []
daysago_jobposted = []
Rating= []

In [331]:
company_tags=drivers.find_elements_by_xpath("//p[@class='company body-medium']")

for i in company_tags:
    Company_name.append(i.text.replace('\n','')) 
#     Company_name=str(Company_name)
#     Company_name=Company_name.strip('')
# Company_name=Company_name[22:]
Company_name=Company_name[0:10]
Company_name

['Ericsson India Global Services Pvt. Ltd.',
 'LG Electronics India Pvt. Ltd.',
 'GENPACT India Private Limited',
 'GENPACT India Private Limited',
 'NTT Data Business Solutions Pvt Ltd',
 'GENPACT India Private Limited',
 'GI Group',
 'GI Group',
 'GI Group',
 'Steria India Ltd']

In [335]:
desc_tags=drivers.find_elements_by_xpath('//span[@class="body-small-l"]')
for i in desc_tags:
    daysago_jobposted.append(i.text)
# daysago_jobposted[0:20:2]
daysago_jobposted=daysago_jobposted[0:20:2]
daysago_jobposted

['3d ago',
 '2d ago',
 '8d ago',
 '9d ago',
 '10d ago',
 '10d ago',
 '3d ago',
 '3d ago',
 '6d ago',
 '1mon ago']

In [336]:
rate_tags=drivers.find_elements_by_xpath('//span[@class="body-small"]')
for i in rate_tags:
    Rating.append(i.text)
Rating

['4.2', '4.1', '4.0', '4.0', '3.8', '4.0', '4.0', '4.0', '4.0', '4.1']

In [337]:
data= list(zip(Company_name,daysago_jobposted,Rating))

In [338]:
df_AB= pd.DataFrame(data,columns=["Company_name","daysago_jobposted","Rating"])

In [339]:
df_AB

                               Company_name daysago_jobposted Rating
0  Ericsson India Global Services Pvt. Ltd.            3d ago    4.2
1            LG Electronics India Pvt. Ltd.            2d ago    4.1
2             GENPACT India Private Limited            8d ago    4.0
3             GENPACT India Private Limited            9d ago    4.0
4       NTT Data Business Solutions Pvt Ltd           10d ago    3.8
5             GENPACT India Private Limited           10d ago    4.0
6                                  GI Group            3d ago    4.0
7                                  GI Group            3d ago    4.0
8                                  GI Group            6d ago    4.0
9                          Steria India Ltd          1mon ago    4.1

Q10: Write a python program to scrape the salary data for Data Scientist designation. 
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [340]:
drivers.get("https://www.ambitionbox.com/")

In [342]:
search_btn=drivers.find_element_by_link_text("Salaries")
search_btn.click()

In [346]:
search_job=drivers.find_element_by_xpath('//input[@placeholder="Search by Company or Designation"]')
search_job.send_keys("Data Scientist")

In [347]:
search_btn=drivers.find_element_by_xpath('//*[@class="ab_btn search-btn round"]')
search_btn.click()

In [414]:
Company_name= []
Total_sal= []
avg_sal=[]
min_sal=[]
max_sal=[]
exp_req= []

In [ ]:
company_tags=drivers.find_elements_by_xpath("//a[@title]")

for i in company_tags:
    Company_name.append(i.text.replace('\n','')) 
Company_name=Company_name[16:]
Company_name

In [364]:
Company_name=Company_name[0:10]
Company_name

['Tekion',
 'Microsoft Corporation',
 'Goldman Sachs',
 'Flipkart',
 'Amazon',
 'Arcesium',
 'Servicenow Software Development India',
 'ServiceNow',
 'Walmart',
 'PayPal']

In [365]:
sal_tags=drivers.find_elements_by_xpath("//span[@data-v-2bae05f7]")

In [388]:
for i in sal_tags:
    Total_sal.append(i.text.replace('\n','')) 
Total_sal=Total_sal[0:20:2]
Total_sal

['based on 10 salaries',
 'based on 11 salaries',
 'based on 80 salaries',
 'based on 27 salaries',
 'based on 77 salaries',
 'based on 10 salaries',
 'based on 218 salaries',
 'based on 11 salaries',
 'based on 53 salaries',
 'based on 80 salaries']

In [373]:
avgsal_tags=drivers.find_elements_by_xpath("//p[@class='averageCtc']")
for i in avgsal_tags:
    avg_sal.append(i.text) 
avg_sal

['₹ 23.3L',
 '₹ 22.4L',
 '₹ 21.9L',
 '₹ 20.6L',
 '₹ 19.1L',
 '₹ 18.4L',
 '₹ 18.2L',
 '₹ 18.2L',
 '₹ 17.9L',
 '₹ 17.6L']

In [376]:
minsal_tags=drivers.find_elements_by_xpath("//div[@class='value body-medium']")
for i in minsal_tags:
    min_sal.append(i.text) 
min_sal=min_sal[0:20:2]
min_sal

['₹ 14.0L',
 '₹ 12.0L',
 '₹ 16.0L',
 '₹ 7.0L',
 '₹ 8.0L',
 '₹ 12.0L',
 '₹ 12.0L',
 '₹ 12.7L',
 '₹ 10.0L',
 '₹ 12.0L']

In [377]:
maxsal_tags=drivers.find_elements_by_xpath("//div[@class='value body-medium']")
for i in maxsal_tags:
    max_sal.append(i.text) 
max_sal=max_sal[1:20:2]
max_sal

['₹ 32.0L',
 '₹ 45.0L',
 '₹ 30.0L',
 '₹ 30.0L',
 '₹ 40.0L',
 '₹ 30.0L',
 '₹ 25.0L',
 '₹ 23.0L',
 '₹ 32.0L',
 '₹ 23.0L']

In [415]:
exp_tags=drivers.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
for i in exp_tags:
    exp_req.append(i.text.replace('\n','')) 
exp_req

['Software Engineer . 4 yrs exp',
 'Software Engineer . 1-4 yrs exp',
 'Software Engineer . 2 yrs exp',
 'Software Engineer . 1-4 yrs exp',
 'Software Engineer . 1-4 yrs exp',
 'Software Engineer . 1 yr exp',
 'Software Engineer . 2-3 yrs exp',
 'Software Engineer . 3 yrs exp',
 'Software Engineer . 1-4 yrs exp',
 'Software Engineer . 1 yr exp']

In [389]:
data= list(zip(Company_name,Total_sal,avg_sal,min_sal,max_sal,exp_req))

In [390]:
df_AB=pd.DataFrame(data,columns=["Company_name","Total_sal","avg_sal","min_sal","max_sal","exp_req"])

In [391]:
df_AB

,Company_name,Total_sal,avg_sal,min_sal,max_sal,exp_req
0,Tekion,based on 10 salaries,₹ 23.3L,₹ 14.0L,₹ 32.0L,Software Engineer . 4 yrs exp
1,Microsoft Corporation,based on 11 salaries,₹ 22.4L,₹ 12.0L,₹ 45.0L,Software Engineer . 1-4 yrs exp
2,Goldman Sachs,based on 80 salaries,₹ 21.9L,₹ 16.0L,₹ 30.0L,Software Engineer . 2 yrs exp
3,Flipkart,based on 27 salaries,₹ 20.6L,₹ 7.0L,₹ 30.0L,Software Engineer . 1-4 yrs exp
4,Amazon,based on 77 salaries,₹ 19.1L,₹ 8.0L,₹ 40.0L,Software Engineer . 1-4 yrs exp
5,Arcesium,based on 10 salaries,₹ 18.4L,₹ 12.0L,₹ 30.0L,Software Engineer . 1 yr exp
6,Servicenow Software Development India,based on 218 salaries,₹ 18.2L,₹ 12.0L,₹ 25.0L,Software Engineer . 2-3 yrs exp
7,ServiceNow,based on 11 salaries,₹ 18.2L,₹ 12.7L,₹ 23.0L,Software Engineer . 3 yrs exp
8,Walmart,based on 53 salaries,₹ 17.9L,₹ 10.0L,₹ 32.0L,Software Engineer . 1-4 yrs exp
9,PayPal,based on 80 salaries,₹ 17.6L,₹ 12.0L,₹ 23.0L,Software Engineer . 1 yr exp